<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.superfl.apagemonitor.dal.mapper.APMSequenceMapper">
  <resultMap id="BaseResultMap" type="cn.superfl.apagemonitor.dal.dao.APMSequence">
    <result column="seqName" jdbcType="VARCHAR" property="seqname" />
    <result column="seqValue" jdbcType="BIGINT" property="seqvalue" />
    <result column="minSeqValue" jdbcType="BIGINT" property="minseqvalue" />
    <result column="maxSeqValue" jdbcType="BIGINT" property="maxseqvalue" />
    <result column="seqStep" jdbcType="BIGINT" property="seqstep" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>

  <sql id="Base_Column_List">
    seqName, seqValue, minSeqValue, maxSeqValue, seqStep, createTime, modifyTime
  </sql>


  <insert id="insert" parameterType="cn.superfl.apagemonitor.dal.dao.APMSequence">
    insert into APM_Sequence (seqName, seqValue, minSeqValue, 
      maxSeqValue, seqStep, createTime, 
      modifyTime)
    values (#{seqname,jdbcType=VARCHAR}, #{seqvalue,jdbcType=BIGINT}, #{minseqvalue,jdbcType=BIGINT}, 
      #{maxseqvalue,jdbcType=BIGINT}, #{seqstep,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.superfl.apagemonitor.dal.dao.APMSequence">
    insert into APM_Sequence
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seqname != null">
        seqName,
      </if>
      <if test="seqvalue != null">
        seqValue,
      </if>
      <if test="minseqvalue != null">
        minSeqValue,
      </if>
      <if test="maxseqvalue != null">
        maxSeqValue,
      </if>
      <if test="seqstep != null">
        seqStep,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="modifytime != null">
        modifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seqname != null">
        #{seqname,jdbcType=VARCHAR},
      </if>
      <if test="seqvalue != null">
        #{seqvalue,jdbcType=BIGINT},
      </if>
      <if test="minseqvalue != null">
        #{minseqvalue,jdbcType=BIGINT},
      </if>
      <if test="maxseqvalue != null">
        #{maxseqvalue,jdbcType=BIGINT},
      </if>
      <if test="seqstep != null">
        #{seqstep,jdbcType=BIGINT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectBySeqNameForUpdate" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from APM_Sequence
    where userId = #{seqName,jdbcType=VARCHAR} for update
  </select>


  <update id="updateSeqValueBySeqName" parameterType="cn.superfl.apagemonitor.dal.dao.APMSequence">
    update APM_Sequence
    set seqValue = #{seqvalue,jdbcType=BIGINT},
    modifyTime = #{modifytime,jdbcType=TIMESTAMP}
    where seqName = #{seqname,jdbcType=BIGINT}
  </update>
</mapper>