<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.superfl.apagemonitor.dal.mapper.APMTaskMapper">
  <resultMap id="BaseResultMap" type="cn.superfl.apagemonitor.dal.dao.APMTask">
    <id column="taskId" jdbcType="VARCHAR" property="taskid" />
    <result column="taskType" jdbcType="VARCHAR" property="tasktype" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="pageUrl" jdbcType="VARCHAR" property="pageurl" />
    <result column="contentChanged" jdbcType="TINYINT" property="contentchanged" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="changedDate" jdbcType="TIMESTAMP" property="changeddate" />
    <result column="checkInterval" jdbcType="INTEGER" property="checkinterval" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.superfl.apagemonitor.dal.dao.APMTask">
    <result column="pageContent" jdbcType="LONGVARCHAR" property="pagecontent" />
  </resultMap>
  <sql id="Base_Column_List">
    taskId, taskType, userId, pageUrl, contentChanged, createDate, changedDate, checkInterval
  </sql>
  <sql id="Blob_Column_List">
    pageContent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from APM_Task
    where taskId = #{taskid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from APM_Task
    where taskId = #{taskid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.superfl.apagemonitor.dal.dao.APMTask">
    insert into APM_Task (taskId, taskType, userId, 
      pageUrl, contentChanged, createDate, 
      changedDate, checkInterval, pageContent
      )
    values (#{taskid,jdbcType=VARCHAR}, #{tasktype,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{pageurl,jdbcType=VARCHAR}, #{contentchanged,jdbcType=TINYINT}, #{createdate,jdbcType=TIMESTAMP}, 
      #{changeddate,jdbcType=TIMESTAMP}, #{checkinterval,jdbcType=INTEGER}, #{pagecontent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.superfl.apagemonitor.dal.dao.APMTask">
    insert into APM_Task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        taskId,
      </if>
      <if test="tasktype != null">
        taskType,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="pageurl != null">
        pageUrl,
      </if>
      <if test="contentchanged != null">
        contentChanged,
      </if>
      <if test="createdate != null">
        createDate,
      </if>
      <if test="changeddate != null">
        changedDate,
      </if>
      <if test="checkinterval != null">
        checkInterval,
      </if>
      <if test="pagecontent != null">
        pageContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskid != null">
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="tasktype != null">
        #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="pageurl != null">
        #{pageurl,jdbcType=VARCHAR},
      </if>
      <if test="contentchanged != null">
        #{contentchanged,jdbcType=TINYINT},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeddate != null">
        #{changeddate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinterval != null">
        #{checkinterval,jdbcType=INTEGER},
      </if>
      <if test="pagecontent != null">
        #{pagecontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.superfl.apagemonitor.dal.dao.APMTask">
    update APM_Task
    <set>
      <if test="tasktype != null">
        taskType = #{tasktype,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="pageurl != null">
        pageUrl = #{pageurl,jdbcType=VARCHAR},
      </if>
      <if test="contentchanged != null">
        contentChanged = #{contentchanged,jdbcType=TINYINT},
      </if>
      <if test="createdate != null">
        createDate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="changeddate != null">
        changedDate = #{changeddate,jdbcType=TIMESTAMP},
      </if>
      <if test="checkinterval != null">
        checkInterval = #{checkinterval,jdbcType=INTEGER},
      </if>
      <if test="pagecontent != null">
        pageContent = #{pagecontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where taskId = #{taskid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.superfl.apagemonitor.dal.dao.APMTask">
    update APM_Task
    set taskType = #{tasktype,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      pageUrl = #{pageurl,jdbcType=VARCHAR},
      contentChanged = #{contentchanged,jdbcType=TINYINT},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      changedDate = #{changeddate,jdbcType=TIMESTAMP},
      checkInterval = #{checkinterval,jdbcType=INTEGER},
      pageContent = #{pagecontent,jdbcType=LONGVARCHAR}
    where taskId = #{taskid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.superfl.apagemonitor.dal.dao.APMTask">
    update APM_Task
    set taskType = #{tasktype,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      pageUrl = #{pageurl,jdbcType=VARCHAR},
      contentChanged = #{contentchanged,jdbcType=TINYINT},
      createDate = #{createdate,jdbcType=TIMESTAMP},
      changedDate = #{changeddate,jdbcType=TIMESTAMP},
      checkInterval = #{checkinterval,jdbcType=INTEGER}
    where taskId = #{taskid,jdbcType=VARCHAR}
  </update>
</mapper>